<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tl.user.provider.mapper.LiveRoomMapper">

    <resultMap id="BaseResultMap" type="org.tl.user.provider.entity.LiveRoom">
            <id property="roomId" column="room_id" />
            <result property="userId" column="user_id" />
            <result property="title" column="title" />
            <result property="description" column="description" />
            <result property="categoryId" column="category_id" />
            <result property="coverUrl" column="cover_url" />
            <result property="status" column="status" />
            <result property="streamCode" column="stream_code" />
            <result property="pushUrl" column="push_url" />
            <result property="pullUrlRtmp" column="pull_url_rtmp" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        room_id,user_id,title,description,category_id,cover_url,
        status,stream_code,push_url,pull_url_rtmp,create_time,
        update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from live_room
        where  room_id = #{roomId} 
    </select>
    <select id="selectByUserId" resultType="org.tl.user.provider.entity.LiveRoom">
        select
        <include refid="Base_Column_List" />
        from live_room
        where  user_id = #{user_id}
    </select>
    <select id="selectAvatarByRoomId" resultType="java.lang.String">
        select
        cover_url
        from live_room
        where  room_id = #{roomId}
    </select>
    <select id="getLiveRoomByCategoryId" resultType="org.tl.user.provider.entity.LiveRoom">
        select
        <include refid="Base_Column_List" />
        from live_room
        where  category_id = #{categoryId}
    </select>
    <select id="search" resultType="org.tl.user.provider.entity.LiveRoom">

        select
            lr.*,tu.avatar as avatar,tu.nick_name as nickname,lc.name as categoryName
        from live_room lr
        left join t_user tu on lr.user_id = tu.user_id
        left join live_category lc on lr.category_id = lc.id
        where  lr.title like CONCAT('%', #{keyword}, '%')
        or lr.description like CONCAT('%', #{keyword}, '%')
    </select>
    <select id="selectLiveRoomList" resultType="org.tl.user.provider.entity.LiveRoom">
        select
            lr.*,tu.avatar as avatar,tu.nick_name as nickname
        from live_room lr
        left join t_user tu on lr.user_id = tu.user_id
        where 1=1
    </select>
    <select id="getRecommendLiveRoom" resultType="org.tl.user.provider.entity.LiveRoom">
        SELECT lr.*, tu.avatar AS avatar, tu.nick_name AS nickname, lc.name AS categoryName
        FROM live_room lr
                 LEFT JOIN t_user tu ON lr.user_id = tu.user_id
                 LEFT JOIN live_category lc ON lr.category_id = lc.id
        WHERE lr.status = 0 -- 假设开播状态字段为status，且开播状态值为'ONLINE'
        ORDER BY RAND()
            LIMIT 4
    </select>
    <select id="getCategoryDetail" resultType="org.tl.user.provider.entity.LiveRoom">

    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from live_room
        where  room_id = #{roomId} 
    </delete>
    <insert id="insert" keyColumn="room_id" keyProperty="roomId" parameterType="org.tl.user.provider.entity.LiveRoom" useGeneratedKeys="true">
        insert into live_room
        ( room_id,user_id,title,description,category_id,cover_url,
        status,stream_code,push_url,pull_url_rtmp,create_time,
        update_time)
        values (#{roomId},#{userId},#{title},#{description},#{categoryId},#{coverUrl},
        #{status},#{streamCode},#{pushUrl},#{pullUrlRtmp},#{createTime},
        #{updateTime})
    </insert>
    <insert id="insertSelective" keyColumn="room_id" keyProperty="roomId" parameterType="org.tl.user.provider.entity.LiveRoom" useGeneratedKeys="true">
        insert into live_room
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="roomId != null">room_id,</if>
                <if test="userId != null">user_id,</if>
                <if test="title != null">title,</if>
                <if test="description != null">description,</if>
                <if test="categoryId != null">category_id,</if>
                <if test="coverUrl != null">cover_url,</if>
                <if test="status != null">status,</if>
                <if test="streamCode != null">stream_code,</if>
                <if test="pushUrl != null">push_url,</if>
                <if test="pullUrlRtmp != null">pull_url_rtmp,</if>
                <if test="createTime != null">create_time,</if>
                <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="roomId != null">#{roomId},</if>
                <if test="userId != null">#{userId},</if>
                <if test="title != null">#{title},</if>
                <if test="description != null">#{description},</if>
                <if test="categoryId != null">#{categoryId},</if>
                <if test="coverUrl != null">#{coverUrl},</if>
                <if test="status != null">#{status},</if>
                <if test="streamCode != null">#{streamCode},</if>
                <if test="pushUrl != null">#{pushUrl},</if>
                <if test="pullUrlRtmp != null">#{pullUrlRtmp},</if>
                <if test="createTime != null">#{createTime},</if>
                <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.tl.user.provider.entity.LiveRoom">
        update live_room
        <set>
                <if test="userId != null">
                    user_id = #{userId},
                </if>
                <if test="title != null">
                    title = #{title},
                </if>
                <if test="description != null">
                    description = #{description},
                </if>
                <if test="categoryId != null">
                    category_id = #{categoryId},
                </if>
                <if test="coverUrl != null">
                    cover_url = #{coverUrl},
                </if>
                <if test="status != null">
                    status = #{status},
                </if>
                <if test="streamCode != null">
                    stream_code = #{streamCode},
                </if>
                <if test="pushUrl != null">
                    push_url = #{pushUrl},
                </if>
                <if test="pullUrlRtmp != null">
                    pull_url_rtmp = #{pullUrlRtmp},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime},
                </if>
        </set>
        where   room_id = #{roomId} 
    </update>
    <update id="updateByPrimaryKey" parameterType="org.tl.user.provider.entity.LiveRoom">
        update live_room
        set 
            user_id =  #{userId},
            title =  #{title},
            description =  #{description},
            category_id =  #{categoryId},
            cover_url =  #{coverUrl},
            status =  #{status},
            stream_code =  #{streamCode},
            push_url =  #{pushUrl},
            pull_url_rtmp =  #{pullUrlRtmp},
            create_time =  #{createTime},
            update_time =  #{updateTime}
        where   room_id = #{roomId} 
    </update>
</mapper>
