<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tl.user.provider.mapper.LiveRoomMapper">

    <resultMap id="BaseResultMap" type="org.tl.user.provider.entity.LiveRoom">
            <id property="roomId" column="room_id" />
            <result property="userId" column="user_id" />
            <result property="title" column="title" />
            <result property="categoryId" column="category_id" />
            <result property="coverUrl" column="cover_url" />
            <result property="status" column="status" />
            <result property="streamUrl" column="stream_url" />
    </resultMap>

    <sql id="Base_Column_List">
        room_id,user_id,title,category_id,cover_url,status,
        stream_url
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from live_room
        where  room_id = #{roomId} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from live_room
        where  room_id = #{roomId} 
    </delete>
    <insert id="insert" keyColumn="room_id" keyProperty="roomId" parameterType="org.tl.user.provider.entity.LiveRoom" useGeneratedKeys="true">
        insert into live_room
        ( room_id,user_id,title,category_id,cover_url,status,
        stream_url)
        values (#{roomId},#{userId},#{title},#{categoryId},#{coverUrl},#{status},
        #{streamUrl})
    </insert>
    <insert id="insertSelective" keyColumn="room_id" keyProperty="roomId" parameterType="org.tl.user.provider.entity.LiveRoom" useGeneratedKeys="true">
        insert into live_room
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="roomId != null">room_id,</if>
                <if test="userId != null">user_id,</if>
                <if test="title != null">title,</if>
                <if test="categoryId != null">category_id,</if>
                <if test="coverUrl != null">cover_url,</if>
                <if test="status != null">status,</if>
                <if test="streamUrl != null">stream_url,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="roomId != null">#{roomId},</if>
                <if test="userId != null">#{userId},</if>
                <if test="title != null">#{title},</if>
                <if test="categoryId != null">#{categoryId},</if>
                <if test="coverUrl != null">#{coverUrl},</if>
                <if test="status != null">#{status},</if>
                <if test="streamUrl != null">#{streamUrl},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.tl.user.provider.entity.LiveRoom">
        update live_room
        <set>
                <if test="userId != null">
                    user_id = #{userId},
                </if>
                <if test="title != null">
                    title = #{title},
                </if>
                <if test="categoryId != null">
                    category_id = #{categoryId},
                </if>
                <if test="coverUrl != null">
                    cover_url = #{coverUrl},
                </if>
                <if test="status != null">
                    status = #{status},
                </if>
                <if test="streamUrl != null">
                    stream_url = #{streamUrl},
                </if>
        </set>
        where   room_id = #{roomId} 
    </update>
    <update id="updateByPrimaryKey" parameterType="org.tl.user.provider.entity.LiveRoom">
        update live_room
        set 
            user_id =  #{userId},
            title =  #{title},
            category_id =  #{categoryId},
            cover_url =  #{coverUrl},
            status =  #{status},
            stream_url =  #{streamUrl}
        where   room_id = #{roomId} 
    </update>
</mapper>
