<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tl.user.provider.mapper.MessagesMapper">

    <resultMap id="BaseResultMap" type="org.tl.user.provider.entity.Messages">
            <id property="id" column="id" />
            <result property="conversationId" column="conversation_id" />
            <result property="senderId" column="sender_id" />
            <result property="content" column="content" />
            <result property="contentType" column="content_type" />
            <result property="sentAt" column="sent_at" />
            <result property="readAt" column="read_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,conversation_id,sender_id,content,content_type,sent_at,
        read_at
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from messages
        where  id = #{id} 
    </select>
    <select id="selectFullHistory" resultType="org.tl.user.provider.entity.Messages">
        SELECT *
        FROM messages
        WHERE conversation_id = #{conversationId}
        ORDER BY sent_at ASC
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from messages
        where  id = #{id} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.tl.user.provider.entity.Messages" useGeneratedKeys="true">
        insert into messages
        ( id,conversation_id,sender_id,content,content_type,sent_at,
        read_at)
        values (#{id},#{conversationId},#{senderId},#{content},#{contentType},#{sentAt},
        #{readAt})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.tl.user.provider.entity.Messages" useGeneratedKeys="true">
        insert into messages
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="conversationId != null">conversation_id,</if>
                <if test="senderId != null">sender_id,</if>
                <if test="content != null">content,</if>
                <if test="contentType != null">content_type,</if>
                <if test="sentAt != null">sent_at,</if>
                <if test="readAt != null">read_at,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="conversationId != null">#{conversationId},</if>
                <if test="senderId != null">#{senderId},</if>
                <if test="content != null">#{content},</if>
                <if test="contentType != null">#{contentType},</if>
                <if test="sentAt != null">#{sentAt},</if>
                <if test="readAt != null">#{readAt},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.tl.user.provider.entity.Messages">
        update messages
        <set>
                <if test="conversationId != null">
                    conversation_id = #{conversationId},
                </if>
                <if test="senderId != null">
                    sender_id = #{senderId},
                </if>
                <if test="content != null">
                    content = #{content},
                </if>
                <if test="contentType != null">
                    content_type = #{contentType},
                </if>
                <if test="sentAt != null">
                    sent_at = #{sentAt},
                </if>
                <if test="readAt != null">
                    read_at = #{readAt},
                </if>
        </set>
        where   id = #{id} 
    </update>
    <update id="updateByPrimaryKey" parameterType="org.tl.user.provider.entity.Messages">
        update messages
        set 
            conversation_id =  #{conversationId},
            sender_id =  #{senderId},
            content =  #{content},
            content_type =  #{contentType},
            sent_at =  #{sentAt},
            read_at =  #{readAt}
        where   id = #{id} 
    </update>
</mapper>
