<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tl.user.provider.mapper.MovieMapper">

    <resultMap id="BaseResultMap" type="org.tl.user.provider.entity.MovieDO">
            <id property="movieId" column="movie_id" />
            <result property="title" column="title" />
            <result property="director" column="director" />
            <result property="actors" column="actors" />
            <result property="description" column="description" />
            <result property="coverUrl" column="cover_url" />
            <result property="duration" column="duration" />
            <result property="releaseYear" column="release_year" />
            <result property="region" column="region" />
            <result property="language" column="language" />
            <result property="rating" column="rating" />
            <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        movie_id,title,director,actors,description,cover_url,
        duration,release_year,region,language,rating,
        create_time
    </sql>

    <resultMap id="MovieWithCategoriesMap" type="org.tl.user.provider.entity.MovieDO">
        <!-- 基础字段映射 -->
        <id property="movieId" column="movie_id" />
        <result property="title" column="title" />
        <result property="director" column="director" />
        <result property="actors" column="actors" />
        <result property="description" column="description" />
        <result property="coverUrl" column="cover_url" />
        <result property="duration" column="duration" />
        <result property="releaseYear" column="release_year" />
        <result property="region" column="region" />
        <result property="language" column="language" />
        <result property="rating" column="rating" />
        <result property="createTime" column="create_time" />
        <result column="parentCategoryName" property="parentCategoryName"/>

        <!-- 分类集合映射 -->
        <collection
                property="category"
                ofType="string"
                javaType="java.util.ArrayList">
            <result column="parentCategoryName"/>
        </collection>
    </resultMap>

    <select id="selectMoviesWithParentCategories" resultMap="MovieWithCategoriesMap">
        SELECT
            m.*,
            COALESCE(c.name) AS parentCategoryName,ms.play_url
        FROM
            movie m
                LEFT JOIN moviecategoryrelation mr ON m.movieId = mr.movieId
                LEFT JOIN moviecategory c ON mr.categoryId = c.categoryId
                left join movie_source ms on m.movie_id = ms.movie_id
        where c.parentId IS NULL and m.movie_id = #{movieId}
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultType="org.tl.user.provider.entity.MovieDO">
        select
        m.*,ms.play_url as play_url
        from movie m
        left join movie_source ms on m.movie_id = ms.movie_id
        where  m.movie_id = #{movieId}
    </select>
    <select id="getReleaseYearMovieCounts" resultType="org.tl.user.DTO.RegionMovieCount">
        SELECT
            ROW_NUMBER() OVER (ORDER BY release_Year DESC) AS id,
                release_Year AS name,
            count
        FROM (
                 SELECT
                     CASE
                         WHEN release_Year >= 2025 THEN CAST(release_Year AS CHAR)
                         WHEN release_Year >= 2024 THEN CAST(release_Year AS CHAR)
                         WHEN release_Year >= 2023 THEN CAST(release_Year AS CHAR)
                         WHEN release_Year >= 2022 THEN CAST(release_Year AS CHAR)
                         WHEN release_Year >= 2021 THEN CAST(release_Year AS CHAR)
                         WHEN release_Year >= 2020 THEN CAST(release_Year AS CHAR)
                         ELSE '2020以前'
                         END AS release_Year,
                     COUNT(*) AS count
                 FROM
                     movie
                 GROUP BY
                     CASE
                     WHEN release_Year >= 2025 THEN CAST(release_Year AS CHAR)
                     WHEN release_Year >= 2024 THEN CAST(release_Year AS CHAR)
                     WHEN release_Year >= 2023 THEN CAST(release_Year AS CHAR)
                     WHEN release_Year >= 2022 THEN CAST(release_Year AS CHAR)
                     WHEN release_Year >= 2021 THEN CAST(release_Year AS CHAR)
                     WHEN release_Year >= 2020 THEN CAST(release_Year AS CHAR)
                     ELSE '2020以前'
                     END
             ) AS subquery
        ORDER BY
            release_Year DESC
    </select>
    <select id="searchMovies" resultType="org.tl.user.provider.entity.MovieDO">
        SELECT
            m.*,
            COALESCE(GROUP_CONCAT(DISTINCT c.name SEPARATOR ', '), '未分类') AS categories
        FROM movie m
                 LEFT JOIN (
            SELECT DISTINCT movie_Id, category_Id
            FROM moviecategoryrelation
        ) mr ON m.movie_Id = mr.movie_Id
                 LEFT JOIN moviecategory c ON mr.category_Id = c.category_Id
        WHERE
            m.title LIKE CONCAT('%', #{keywords}, '%')
           OR m.director LIKE CONCAT('%', #{keywords}, '%')
           OR m.actors LIKE CONCAT('%', #{keywords}, '%')
           OR m.description LIKE CONCAT('%', #{keywords}, '%')
        GROUP BY m.movie_Id  -- 按电影ID分组
        ORDER BY m.release_year DESC
    </select>
    <select id="getTopRatedMovies" resultType="org.tl.user.provider.entity.MovieDO">
        SELECT
            movie_id,
            title,
            director,
            actors,
            description,
            cover_url,
            duration,
            release_year,
            region,
            language,
            rating,
            create_time,
            parent_Category_Name
        FROM
            movie
        ORDER BY
            rating DESC
            LIMIT 6;
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from movie
        where  movie_id = #{movieId} 
    </delete>
    <insert id="insert" keyColumn="movie_id" keyProperty="movieId" parameterType="org.tl.user.provider.entity.MovieDO" useGeneratedKeys="true">
        insert into movie
        ( movie_id,title,director,actors,description,cover_url,
        duration,release_year,region,language,rating,
        create_time)
        values (#{movieId},#{title},#{director},#{actors},#{description},#{coverUrl},
        #{duration},#{releaseYear},#{region},#{language},#{rating},
        #{createTime})
    </insert>
    <insert id="insertSelective" keyColumn="movie_id" keyProperty="movieId" parameterType="org.tl.user.provider.entity.MovieDO" useGeneratedKeys="true">
        insert into movie
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="movieId != null">movie_id,</if>
                <if test="title != null">title,</if>
                <if test="director != null">director,</if>
                <if test="actors != null">actors,</if>
                <if test="description != null">description,</if>
                <if test="coverUrl != null">cover_url,</if>
                <if test="duration != null">duration,</if>
                <if test="releaseYear != null">release_year,</if>
                <if test="region != null">region,</if>
                <if test="language != null">language,</if>
                <if test="rating != null">rating,</if>
                <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="movieId != null">#{movieId},</if>
                <if test="title != null">#{title},</if>
                <if test="director != null">#{director},</if>
                <if test="actors != null">#{actors},</if>
                <if test="description != null">#{description},</if>
                <if test="coverUrl != null">#{coverUrl},</if>
                <if test="duration != null">#{duration},</if>
                <if test="releaseYear != null">#{releaseYear},</if>
                <if test="region != null">#{region},</if>
                <if test="language != null">#{language},</if>
                <if test="rating != null">#{rating},</if>
                <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="org.tl.user.provider.entity.MovieDO">
        update movie
        <set>
                <if test="title != null">
                    title = #{title},
                </if>
                <if test="director != null">
                    director = #{director},
                </if>
                <if test="actors != null">
                    actors = #{actors},
                </if>
                <if test="description != null">
                    description = #{description},
                </if>
                <if test="coverUrl != null">
                    cover_url = #{coverUrl},
                </if>
                <if test="duration != null">
                    duration = #{duration},
                </if>
                <if test="releaseYear != null">
                    release_year = #{releaseYear},
                </if>
                <if test="region != null">
                    region = #{region},
                </if>
                <if test="language != null">
                    language = #{language},
                </if>
                <if test="rating != null">
                    rating = #{rating},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime},
                </if>
        </set>
        where   movie_id = #{movieId} 
    </update>
    <update id="updateByPrimaryKey" parameterType="org.tl.user.provider.entity.MovieDO">
        update movie
        set 
            title =  #{title},
            director =  #{director},
            actors =  #{actors},
            description =  #{description},
            cover_url =  #{coverUrl},
            duration =  #{duration},
            release_year =  #{releaseYear},
            region =  #{region},
            language =  #{language},
            rating =  #{rating},
            create_time =  #{createTime}
        where   movie_id = #{movieId} 
    </update>
</mapper>
