<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tl.user.provider.mapper.RechargePlanMapper">

    <resultMap id="BaseResultMap" type="org.tl.user.provider.entity.RechargePlan">
            <id property="id" column="id" />
            <result property="price" column="price" />
            <result property="baseCoins" column="base_coins" />
            <result property="bonusCoins" column="bonus_coins" />
            <result property="isActive" column="is_active" />
            <result property="description" column="description" />
            <result property="createdAt" column="created_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,price,base_coins,bonus_coins,is_active,description,
        created_at
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from recharge_plan
        where  id = #{id} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from recharge_plan
        where  id = #{id} 
    </delete>
    <update id="deleteById">
        update recharge_plan
        set is_active = 0
        where id = #{id}
    </update>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.tl.user.provider.entity.RechargePlan" useGeneratedKeys="true">
        insert into recharge_plan
        ( id,price,base_coins,bonus_coins,is_active,description,
        created_at)
        values (#{id},#{price},#{baseCoins},#{bonusCoins},#{isActive},#{description},
        #{createdAt})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.tl.user.provider.entity.RechargePlan" useGeneratedKeys="true">
        insert into recharge_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="price != null">price,</if>
                <if test="baseCoins != null">base_coins,</if>
                <if test="bonusCoins != null">bonus_coins,</if>
                <if test="isActive != null">is_active,</if>
                <if test="description != null">description,</if>
                <if test="createdAt != null">created_at,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="price != null">#{price},</if>
                <if test="baseCoins != null">#{baseCoins},</if>
                <if test="bonusCoins != null">#{bonusCoins},</if>
                <if test="isActive != null">#{isActive},</if>
                <if test="description != null">#{description},</if>
                <if test="createdAt != null">#{createdAt},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.tl.user.provider.entity.RechargePlan">
        update recharge_plan
        <set>
                <if test="price != null">
                    price = #{price},
                </if>
                <if test="baseCoins != null">
                    base_coins = #{baseCoins},
                </if>
                <if test="bonusCoins != null">
                    bonus_coins = #{bonusCoins},
                </if>
                <if test="isActive != null">
                    is_active = #{isActive},
                </if>
                <if test="description != null">
                    description = #{description},
                </if>
                <if test="createdAt != null">
                    created_at = #{createdAt},
                </if>
        </set>
        where   id = #{id} 
    </update>
    <update id="updateByPrimaryKey" parameterType="org.tl.user.provider.entity.RechargePlan">
        update recharge_plan
        set 
            price =  #{price},
            base_coins =  #{baseCoins},
            bonus_coins =  #{bonusCoins},
            is_active =  #{isActive},
            description =  #{description},
            created_at =  #{createdAt}
        where   id = #{id} 
    </update>
</mapper>
